html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

#container {
	position: relative;
    margin: 50px;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 160px;
	min-width: 1000px;
	max-width: 1400px;
	height: 100%;
	min-height: 1400px;
	margin-bottom: 100px;
    border-radius: 20px;
    z-index: 0;
    background-color: rgb(240, 240, 240);
}

.heading_1 {
    text-align: center;
    height: 120px;
    margin: 50px;
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 999;
}

#heading_1a {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 80px;
    font-family: "Noto Sans SC";
	font-weight: 600;
    letter-spacing: 10px;
    background-color: #fc8080;
    border-radius: 40px;
}

.map {
    margin: 50px;
    border-radius: 20px;
}

.area {
    min-height: 200px;
    max-height: 1600px;
    margin:50px;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    border-radius: 20px;
    position: absolute;
    z-index: 999;
}

.button-group {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 12px;
	padding: 10px;
}

.button-group .button {
	height: 28px;
	line-height: 28px;
	background-color: #c6d6e0;
	color: #FFF;
	border: 0;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	margin-bottom: 4px;
	cursor: pointer;
}
.button-group .inputtext {
	height: 26px;
	line-height: 26px;
	border: 1px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	margin-bottom: 4px;
	cursor: pointer;
}
 /*
.tip {
	position: absolute;
	bottom: 30px;
	right: 10px;
	background-color: #FFF;
	text-align: center;
	border: 1px solid #ccc;
	line-height: 30px;
	border-radius: 3px;
	padding: 0 5px;
	font-size: 12px;
}
*/
#tip {
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	font-size: 12px;
	right: 10px;
	top: 20px;
	border-radius: 3px;
	border: 1px solid #ccc;
	line-height: 30px;
}

/*
#tip input[type='button'] {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #0D9BF2;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	outline: none;
	border: 0;
}
*/
.amap-info-content {
	font-size: 12px;
}

.amap-logo{
	display: none;
	opacity:0 !important;
	}
.amap-copyright {
		opacity:0;
	}


#myPageTop {
	position: absolute;
	top: 5px;
	right: 10px;
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	margin: 10px auto;
	padding:6px;
	font-family: "Microsoft Yahei", "微软雅黑", "Pinghei";
	font-size: 14px;
}
#myPageTop label {
	margin: 0 20px 0 0;
	color: #666666;
	font-weight: normal;
}
#myPageTop input {
	width: 170px;
}
#myPageTop .column2{
	padding-left: 25px;
}